# Firebase Configuration
VITE_FIREBASE_PROJECT_ID=velvety-button-z5xj8
VITE_FIREBASE_APP_ID=1:682693340903:web:8a5ea08b88fde33bfd7c42
VITE_FIREBASE_API_KEY=AIzaSyB1h1XIPB9EO0qaka4NO7EIm63R-1UrGVs
VITE_FIREBASE_AUTH_DOMAIN=velvety-button-z5xj8.firebaseapp.com
VITE_FIREBASE_DATABASE_ID=ai-studio-elimu360sims-8e612420-5a43-449a-aa85-2f5bf3416585
VITE_FIREBASE_STORAGE_BUCKET=velvety-button-z5xj8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=682693340903

# Gemini AI API Key
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=

# ImageKit Configuration (Optional)
IMAGEKIT_PRIVATE_KEY=
VITE_IMAGEKIT_PRIVATE_KEY=
